@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../app/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../app/fonts/Inter-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Righteous';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../app/fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../app/fonts/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../app/fonts/Urbanist-SemiBold.ttf") format("truetype");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.menu__link, .header-content__link--popup, .product-item__price, .news-item__author {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.header-content__link, .popular-products__link, .shopping__content-link, .reservation__form-btn, .menu__link--active {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.title, .header-content__title, .processes__item-text, .popular-menu__item-title, .news-item__title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::-webkit-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input:-ms-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::-ms-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.header-content__link, .popular-products__link, .shopping__content-link, .reservation__form-btn {
  font-size: 18px;
  line-height: 22px;
  background-color: #C99E71;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-content__link:hover, .popular-products__link:hover, .shopping__content-link:hover, .reservation__form-btn:hover {
  background-color: #c08343;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #14110E;
  color: #fff;
  font-size: 16px;
  line-height: 29px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main--fixed {
  padding-top: 124px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1346px;
  padding: 0 15px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #C99E71;
  margin-bottom: 12px;
}

.title {
  text-align: center;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 56px;
}

.menu__link, .header-content__link--popup, .product-item__price, .news-item__author {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.header-content__link, .popular-products__link, .shopping__content-link, .reservation__form-btn, .menu__link--active {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.title, .header-content__title, .processes__item-text, .popular-menu__item-title, .news-item__title {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::-webkit-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input:-ms-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::-ms-input-placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.subtitle, .product-item__new-price, .product-item__link span, .popular-menu__item-price, .testimonial__pagination, .reservation__form-input, .reservation__form-input::placeholder, .news-item__author span {
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
}

.header-content__link, .popular-products__link, .shopping__content-link, .reservation__form-btn {
  font-size: 18px;
  line-height: 22px;
  background-color: #C99E71;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-content__link:hover, .popular-products__link:hover, .shopping__content-link:hover, .reservation__form-btn:hover {
  background-color: #c08343;
}

.test {
  margin-top: 40px;
  position: relative;
  width: 250px;
  height: 60px;
  background-color: #14110E;
  border: 2px solid #C99E71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.test .right {
  display: block;
  position: absolute;
  border-left: 18px solid #C99E71;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  right: -19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.test .right::after {
  content: '';
  position: absolute;
  border-left: 16px solid #14110E;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: -8px;
  right: 3px;
}

.test .left {
  display: block;
  position: absolute;
  border-right: 18px solid #C99E71;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  left: -19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.test .left::after {
  content: '';
  position: absolute;
  border-right: 16px solid #14110E;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  top: -8px;
  right: -19px;
}

.header {
  background-image: url("../app/images/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header-top {
  background-color: #1C1814;
}

.header-top--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 52px;
}

.header-top__nav-link {
  cursor: pointer;
}

.header-top__nav-link path {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header-top__nav-link:hover path {
  stroke: #C99E71;
}

.header-top__nav-link + .header-top__nav-link {
  margin-left: 48px;
}

.menu--right {
  margin-left: 190px;
}

.menu__btn {
  display: none;
}

.menu__list, .menu__list--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 48px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__link:hover {
  color: #C99E71;
}

.menu__link--active {
  color: #C99E71;
}

.logo {
  margin-left: auto;
}

.header-content {
  min-height: calc(100vh - 124px);
}

.header-content__inner {
  padding-top: 147px;
}

.header-content__title {
  max-width: 530px;
  font-size: 72px;
  line-height: 94px;
  margin-bottom: 32px;
}

.header-content__text {
  text-transform: capitalize;
  margin-bottom: 64px;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 511px;
}

.header-content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-content__link {
  padding: 24px 40px;
}

.header-content__link--popup {
  position: absolute;
  line-height: 19px;
  right: 0;
  bottom: 0;
  color: #fff;
}

.header-content__link--popup span {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
}

.header-content__link--popup span::after {
  content: '';
  position: absolute;
  border-left: 14px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.processes {
  padding: 140px 0 70px;
}

.processes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.processes__item {
  max-width: 366px;
  width: 100%;
  height: 474px;
}

.processes__item-text {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

.processes__item-text span {
  text-transform: uppercase;
  color: #C99E71;
  margin-right: 12px;
}

.processes__item-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 420px;
}

.history {
  padding: 70px 0;
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 32px;
  min-width: 628px;
}

.history__images-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.history__images-box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}

.history__content {
  padding: 120px 56px 0;
  margin-left: 32px;
  background-color: #1C1814;
}

.history__content-subtitle {
  text-align: left;
}

.history__content-title {
  text-align: left;
  margin-bottom: 36px;
}

.history__content-text {
  color: rgba(255, 255, 255, 0.8);
}

.popular-products {
  padding: 70px 0;
}

.popular-products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.popular-products__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 252px;
  height: 62px;
  margin: 0 auto;
}

.product-item {
  max-width: 366px;
  width: 100%;
  background-color: #121315;
  padding: 48px 48px 40px 48px;
}

.product-item:hover .product-item__star {
  display: none;
}

.product-item:hover .product-item__title {
  text-align: center;
  margin-bottom: 0;
}

.product-item:hover .product-item__price {
  display: none;
}

.product-item:hover .product-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-item__img {
  max-width: 270px;
  width: 100%;
  height: 343px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 36px;
}

.product-item__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.product-item__star span {
  margin-right: 13px;
  color: #C99E71;
  line-height: 19px;
  text-transform: uppercase;
}

.product-item__title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product-item__title:hover {
  color: #C99E71;
}

.product-item__price {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.product-item__new-price {
  color: #C99E71;
}

.product-item__old-price {
  text-decoration: line-through;
}

.product-item__link {
  width: 169px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 31px auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C99E71;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product-item__link:hover {
  background-color: #c08343;
}

.product-item__link span {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding-left: 36px;
  position: relative;
}

.product-item__link span::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  left: 0;
  background-image: url("../app/images/icons/shopping-bag-product.svg");
}

.shopping {
  padding: 70px 0;
}

.shopping__inner {
  background-color: #1C1814;
  padding: 72px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__img {
  margin-left: auto;
}

.shopping__content {
  max-width: 535px;
  width: 100%;
  margin-left: 160px;
}

.shopping__content-title {
  text-align: left;
  margin-bottom: 36px;
}

.shopping__content-text {
  margin-bottom: 36px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.shopping__content-link {
  display: inline-block;
  padding: 20px 36px;
}

.popular-menu {
  padding: 70px 0;
}

.popular-menu__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px 40px;
}

.popular-menu__item {
  padding: 24px;
  border: 1px solid #32323D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 565px;
  width: 100%;
}

.popular-menu__item-img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular-menu__item-link {
  display: inline-block;
}

.popular-menu__item-title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popular-menu__item-title:hover {
  color: #C99E71;
}

.popular-menu__item-price {
  margin-left: auto;
  color: #C99E71;
  font-size: 18px;
  line-height: 22px;
}

.testimonial {
  padding: 70px 0;
}

.testimonial__swiper {
  padding-bottom: 156px;
}

.testimonial__slide {
  background-color: #1C1814;
  max-width: 565px;
  width: 100%;
}

.testimonial__slide-inner {
  padding: 40px;
}

.testimonial__slide-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.testimonial__slide-img {
  width: 129px;
  height: 149px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 24px;
}

.testimonial__slide-text {
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}

.testimonial__slide-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.testimonial__slide-membername {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

.testimonial__slide-memberposition {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}

.testimonial__pagination {
  text-align: left;
  font-size: 20px;
  line-height: 27px;
  color: #C99E71;
  bottom: 24px;
}

.testimonial .swiper-horizontal > .swiper-scrollbar {
  left: 0;
  height: 3px;
  width: 120px;
}

.testimonial .swiper-button-prev,
.testimonial .swiper-button-next {
  bottom: 0;
  right: 0;
  top: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #C99E71;
}

.testimonial .swiper-button-prev {
  left: auto;
  right: 70px;
}

.testimonial .swiper-button-prev::after {
  content: '';
  font-size: 0;
}

.testimonial .swiper-button-next::after {
  content: '';
  font-size: 0;
}

.testimonial .swiper-button-prev.swiper-button-disabled,
.testimonial .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
  background-color: #121315;
}

.testimonial .swiper-button-prev.swiper-button-disabled path,
.testimonial .swiper-button-next.swiper-button-disabled path {
  stroke: #fff;
}

.testimonial__scrollbar .swiper-scrollbar-drag {
  background-color: #C99E71;
}

.reservation {
  padding: 70px 0;
}

.reservation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation__img {
  max-width: 585px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reservation__content {
  width: 100%;
  padding: 72px 48px;
  background-color: #1C1814;
}

.reservation__form-input {
  display: block;
  width: 100%;
  height: 64px;
  background-color: #14110E;
  border: none;
  padding: 0 20px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}

.reservation__form-input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.reservation__form-input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.reservation__form-input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.reservation__form-input::placeholder {
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.reservation__form-btn {
  margin: 32px auto 0;
  border: none;
  cursor: pointer;
  display: block;
  width: 202px;
  height: 62px;
}

.news {
  padding: 70px 0 140px;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-item {
  max-width: 366px;
  width: 100%;
  background-color: #1C1814;
}

.news-item__img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item__content {
  padding: 20px 24px 24px 24px;
}

.news-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.news-item__author {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.news-item__author span {
  color: #C99E71;
}

.news-item__date {
  font-size: 18px;
  line-height: 22px;
}

.news-item__title {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.news-item__link {
  display: inline-block;
  line-height: 19px;
  color: #C99E71;
  padding-right: 32px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.news-item__link:hover {
  color: #fff;
}

.news-item__link::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  right: 0;
  background-image: url("../app/images/icons/arrow-right-news.svg");
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 72px;
}

.footer__logo {
  margin-right: 36px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list-item + .footer__list-item {
  margin-left: 40px;
}

.footer__list-link {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__list-link:hover {
  color: #C99E71;
}

.footer__form {
  margin-left: auto;
  border-radius: 36px;
  background-color: #1C1814;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  height: 72px;
  max-width: 328px;
  width: 100%;
}

.footer__form-input {
  width: 100%;
  padding: 0 16px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.footer__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-btn {
  min-width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #C99E71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
          box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__form-btn:hover {
  background-color: #c08343;
}

.footer__copy {
  background-color: #1C1814;
  text-align: center;
  padding: 33px 0 32px;
}

.footer__copy-text {
  font-size: 14px;
  line-height: 25px;
}

@media (max-width: 1346px) {
  .menu--right {
    margin-left: 0;
  }
  .logo {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__form {
    margin-bottom: 20px;
  }
  .processes__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .processes__item {
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .history__inner {
    display: block;
  }
  .history__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: auto;
    height: 500px;
    margin-bottom: 10px;
  }
  .history__images-box {
    max-width: 320px;
    width: 100%;
  }
  .history__content {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 0;
  }
  .history__content-subtitle {
    text-align: center;
  }
  .history__content-title {
    text-align: center;
  }
  .popular-products__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-item {
    margin-right: 20px;
    margin-bottom: 30px;
    max-width: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-item {
    max-width: 47%;
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .logo {
    margin: 0;
  }
  .header-top__nav {
    margin-left: auto;
  }
  .menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .menu--right {
    display: none;
  }
  .menu__btn {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
  }
  .menu__btn::after, .menu__btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C99E71;
    left: 0;
  }
  .menu__btn::after {
    top: 0;
  }
  .menu__btn::before {
    bottom: 0;
  }
  .menu__btn span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #C99E71;
  }
  .menu__list {
    top: 124px;
  }
  .menu__list {
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    background-color: #14110E;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  .menu__list .menu__list--right {
    display: block;
    width: 100%;
  }
  .menu__list--active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .menu__item {
    margin-bottom: 10px;
    text-align: center;
  }
  .menu__link {
    display: block;
    padding: 10px 0;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }
  .header-content__title {
    margin: 0 auto 32px;
    text-align: center;
  }
  .header-content__text {
    margin: 0 auto 64px;
    text-align: center;
  }
  .header-content__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history__images {
    height: 300px;
  }
  .testimonial__swiper {
    padding-bottom: 100px;
  }
  .testimonial__slide {
    max-width: 100%;
  }
  .reservation__img {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .shopping__inner {
    display: block;
  }
  .shopping__img {
    margin: 0 auto 10px;
  }
  .shopping__content {
    margin: 0 auto;
  }
  .shopping__content-title {
    text-align: center;
  }
  .shopping__content-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 850px) {
  .processes__item {
    max-width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-item {
    margin-right: 0;
    max-width: 100%;
  }
  .popular-menu__items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .popular-menu__item {
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popular-menu__item-price {
    margin-left: 0;
  }
  .reservation__img {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__list-item + .footer__list-item {
    margin-left: 0;
  }
  .processes {
    padding: 70px 0 35px;
  }
  .news {
    padding: 35px 0 70px;
  }
  .history,
  .popular-products,
  .shopping,
  .testimonial,
  .reservation {
    padding: 35px 0;
  }
  .reservation__inner {
    display: block;
  }
  .reservation__img {
    max-width: 100%;
    height: 400px;
  }
  .news-item {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 40px;
    line-height: 50px;
  }
  .header-content__inner {
    padding-top: 70px;
  }
  .header-content__title {
    font-size: 42px;
    line-height: 60px;
  }
  .header-content__text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 35px;
  }
  .header-content__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__link {
    margin-bottom: 20px;
  }
  .header-content__link--popup {
    position: relative;
  }
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__list-item {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
  }
  .processes__item {
    height: 100%;
  }
  .processes__item-img {
    width: 100%;
    height: 350px;
  }
  .history__images {
    display: none;
  }
  .history__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .history__content-title {
    margin-bottom: 20px;
  }
  .shopping__inner {
    padding: 72px 20px;
  }
  .shopping__img {
    display: none;
  }
  .shopping__content {
    max-width: 100%;
  }
  .popular-menu__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .popular-menu__item-title {
    text-align: center;
  }
  .popular-menu__item-price {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .header-top__nav-link + .header-top__nav-link {
    margin-left: 20px;
  }
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer__list {
    display: block;
  }
  .footer__list-item {
    width: 100%;
  }
  .footer__list-link {
    display: block;
  }
  .footer__form {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .product-item {
    padding: 20px 20px;
  }
  .product-item__img-link {
    width: 100%;
  }
  .product-item__img {
    max-width: 100%;
    height: 350px;
  }
  .testimonial__slide-top {
    display: block;
  }
  .testimonial__slide-img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .testimonial__slide-star {
    display: none;
  }
  .reservation__content {
    padding: 36px 20px;
  }
  .news-item__img {
    height: 330px;
  }
  .news-item__title {
    margin-bottom: 20px;
  }
  .news-item__date {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */